{% extends 'construct-page/base-page.html' %}

{% block form_hero %}

<!-- Form Download from Link -->
{% if error %}
<div class="alert alert-danger" data-aos="fade-up" data-aos-delay="400" role="alert">  
  <button class="btn-close mb-1" onclick="this.parentElement.style.display='none';" style="float: right;"></button>
  <strong>
    <center>Maaf ada kesalahan saat mengambil data. Cek lagi link yang kamu masukkan <i class="far fa-smile-beam"></i>
    </center>
  </strong>
</div>

{% endif %}
<form action="{{ url_for('home') }}" method="POST" class="form-search d-flex align-items-stretch mb-3"
  data-aos="fade-up" data-aos-delay="200">
  <input type="link" name="link" class="form-control" value id="txt-url" placeholder="Masukkan Linkmu">
  <button type="submit" class="btn btn-primary">Search</button>
</form>

{% endblock %}